body {
    font-size: 16px;
    color: #4c555a;
    font-family: 'Hind', 'Helvetica', sans-serif;
}

a { color: #169CEE; font-weight: bold; }

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }

pre, code { font-size: 14px; }

html, body  {
    height: 100%;
    width: 100%;
}

table { margin: 48px 0; width: 100%; }

tr { border-bottom: 1px solid #eee; }

td { padding: 3px; }

#header {
    height: 76px;
    width: 100%;
    border-bottom: 2xp solid #FAFCFC;
    z-index: 2;
    padding: 0 24px;
    position: fixed;
}

#header #logo {
    font-size: 24px;
    line-height: 76px;
    margin: 0;
}

#header #logo a {
    color: #333;
}

#sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 240px;
    background: #1D1F22;
    padding: 76px 24px;
    color: #d0d4d7;
}

#sidebar h1,
#sidebar h2,
#sidebar h3 { color: #d0d4d7; }

#sidebar ul { list-style: none; margin: 24px 0; padding: 0; }

#sidebar li { margin: 6px 0; }

#main {
    margin: 0 0 0 240px;
}

.method {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.left, .right {    
    min-height: 500px;
    padding: 24px 48px;
    flex: 1;
}

.left {
    border-bottom: 2px solid #eee;
}

.right {
    background: #24272C;
    color: #d0d4d7;
    border-bottom: 2px solid #333;    
}

.intro {
    padding: 48px 0;
}

.request {
    padding: 6px;
    margin: 24px 0;
    border: 2px solid #ddd;
}

pre { background: #1d1f21; color: white; border: 1px solid rgba(100,100,100,0.2); }