<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My API Docs</title>
    <meta name="description" content="">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/tomorrow-night.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/9.0.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700'
      rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
