<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API Docs</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/tomorrow-night.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href='https://fonts.googleapis.com/css?family=Hind:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
  </head>  
  <body>
    <header id="header">
      <h1 id="logo"><a href="/">MyCompany</a></h1>
    </header>
    {% block body %}{% endblock %}
  </body>  
</html>
